// Global Variables //

// $dark-sky: #4c5976;
// $neon-green: #3cb4be;
// $lime-green: #43de7f;
// $grey: #f5f5f5;
// $white: #ffffff;
// $midnight: #0a1d33;
// $color-block-sky: #3497fd;
// $color-block-paste: #3acce1;
// $color-block-violet: #665eff;
// $slider-pointer: #3ec1aa;
// $navbar-background-home: #38404e;
// $navbar-font-color: #05143e;

$dark-green: #00dba0;
$neon-green: #2ddbac; //brand
$dark-blue: #041341;
$dark-grey: #4c5976;
$navbar-background: #38404e;
$link: #488de0;
$arrow: #43de7f;
$search-details-background: #2a2e43;
$nearby-button: #353a50;
