// Global Variables //

$dark-green: #00dba0;
$neon-green: #2ddbac; //brand
$dark-blue: #041341;
$dark-grey: #4c5976;
$navbar-background: #38404e;
$link: #488de0;
$arrow: #43de7f;
$search-details-background: #2a2e43;
$nearby-button: #353a50;
