.map-container {
  position: relative;
  height: 100vh;
  //background-color: lightcoral;

  .map-popup {
    z-index: 2;
  }
}

@media (min-width: 1200px) {
  .map-container {
    .slide-arrow {
      position: absolute;
      z-index: 2;
      left: 1em;
      top: 1em;
    }
  }
}
